<h1>List order for Shop</h1>
<nz-table #rowSelectionTable nzShowSizeChanger [nzData]="list"  *ngIf="lsOrder" style="margin-top: 10px;">
    <div *ngFor="let item2 of lsOrder.items"> 
            <tr>
              <th>Tên Shop</th>
              <th>Mã code</th>
            </tr>
            <tr>
              <td>{{item2.shopName}}</td>
              <td>{{item2.code}}</td>
            </tr>
          <div *ngFor="let item3 of item2.orderDetails">
                  <th>Tên Sản Phẩm: </th>
           
                  <td> {{item3.productName}}</td>
            
            </div>
            <br>
    </div>
</nz-table>
